body {
  background: #101213;
  color: #444749;
  font:13px/1.231 arial,helvetica,clean,sans-serif;
}

#container {
  width: 1670px;
  margin: 5px auto;
  position: relative;
}

.widget {
  background: #232526 url(../assets/widget_grad.png) no-repeat 100% 0px;
  box-shadow: 2px 0 3px #0d0d0d, -2px 0 3px #0d0d0d, 0 3px 3px #0d0d0d, 0 -2px 3px #0d0d0d;
  -moz-box-shadow: 2px 0 3px #0d0d0d, -2px 0 3px #0d0d0d, 0 3px 3px #0d0d0d, 0 -2px 3px #0d0d0d;
  -webkit-box-shadow: 2px 0 3px #0d0d0d, -2px 0 3px #0d0d0d, 0 3px 3px #0d0d0d, 0 -2px 3px #0d0d0d;
  position: absolute;
}

.widget-size-1x1 {
  width: 230px;
  height: 230px;
  
}

.widget-size-2x1 {
  width: 470px;
  height: 230px;
  
}

.widget-size-1x2 {
  width: 230px;
  height: 470px;
  
}

.widget-size-2x2 {
  width: 470px;
  height: 470px;
  
}

.widget-size-3x1 {
  width: 710px;
  height: 230px;
  
}

.widget-size-max-x {
  width: 100%;
  height: 80px;
}

.logo-box {
  width: 100%;
  height: 100%;
}

.widget > header {
  border-bottom: 1px solid #151617;
  border-top: 1px solid #323434;
  height: 17px;
  overflow: hidden;
  padding: 10px 15px 11px;
  line-height: 100%;
}

.widget > header > section {
  font-size: 130%;
  font-weight: bold;
  color: #707275;
  text-transform: uppercase;
  padding-top: 3px;
  text-shadow: 0 -1px 1px black;
}

.widget > .widget-time {
  padding: 15px 10px 5px 10px;
  height: 90px;
  background: url(../assets/bg_time_head.gif);
  color: #D3D4D4;
  text-shadow: 1px 1px 1px #3F3F3F, -1px -1px 1px #3F3F3F;
}

.widget > .widget-body {
  border-top: 1px solid #323434;
}

.widget-date {
  padding: 10px 15px;
}

.t-size-x24 {
  font-size: 175%;
}

.t-size-x30 {
  font-size: 225%;
}

.t-size-x60 {
  font-size: 450%;
}

.t-muted {
  color: #707275;
}

.twitter {
  overflow:hidden;
  font-size: 250%;
  text-align: center;
}
