/* Reset the CSS to sane defaults first */

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Board and Widget generic styling */

body {
  background-color: #111;
  font:13px/1.231 arial,helvetica,clean,sans-serif;
	*font-size:small; /* for IE */
}

div#board {
  background-color: #000;
  color: #fff;
  margin: 10px;
  border-radius: 15px;
  border: 3px double #666;
  padding: 5px;
}

div.widget {
  border-radius: 5px;
  padding: 5px;
  margin: 5px;
  font-size: 182%;
  display: inline-block;
}

div.graygradient {
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#555), to(#111)); /* Safari 4+, Chrome */
  background-image: -webkit-linear-gradient(top, #555, #111); /* Chrome 10+, Safari 5.1+ */
  background-image:    -moz-linear-gradient(top, #555, #111); /* Firefox 3.6+ */
  background-image:     -ms-linear-gradient(top, #555, #111); /* IE10 */
  background-image:      -o-linear-gradient(top, #555, #111); /* Opera 11.10+ */
  background-image:         linear-gradient(top, #555, #111); /* Standard */
            filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#555', EndColorStr='#111'); /* IE6–IE9 */
}

div.bluegradient {
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#4c5660), to(#091b31));
  background-image: -webkit-linear-gradient(top, #4c5660, #091b31); /* Chrome 10+, Safari 5.1+ */
  background-image:    -moz-linear-gradient(top, #4c5660, #091b31); /* Firefox 3.6+ */
  background-image:     -ms-linear-gradient(top, #4c5660, #091b31); /* IE10 */
  background-image:      -o-linear-gradient(top, #4c5660, #091b31); /* Opera 11.10+ */
  background-image:         linear-gradient(top, #4c5660, #091b31); /* Standard */
            filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#4c5660', EndColorStr='#091b31'); /* IE6–IE9 */
}

/* Module-specific CSS */
