/* Reset the CSS to sane defaults first */

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* Generic layout bits */

body {
  background-color: #111;
  color: #eee;
  font:13px/1.231 arial,helvetica,clean,sans-serif;
  *font-size:small; /* for IE */
}

.centertext {
  text-align: center;
}

.righttext {
  text-align: right;
}

ul {
  margin-left: 2em;
  list-style: disc outside;
}

/* header layout */

#wrapper {
  margin: 5px;
}

#header {
  font-size: 400%;
  border-bottom: #666 solid 2px;
}

#header table {
  width: 100%;
}

#header table tbody tr td {
  width: 33.3%;
}

/* general project layout */

.project {
  position: relative;
  color: black;
  background: white;
  border-radius: 10px;
  margin: 5px;
  padding: 5px;
  height: 300px;
}

.project .title {
  font-size: 300%;
}

.project .title h1 {
  position: absolute;
  left: 55px;
}

.project .content {
  position:relative;
}

/* github styling */

.github {
  position: absolute;
  border: #666 solid 1px;
  width: 500px;
  top: 5px;
}

.github h2 {
  font-size: 200%;
  font-weight: bold;
  text-align: center;
}

/* Fedora-ARM Styling */
.fbwClass table td {
        font-family: arial;
        font-weight: bolder;
        color: #330066;
        font-size: 11pt;
        vertical-align: center;
        border-top: 1;
}
.fbwClass table {
  -moz-border-radius: 60px;
  border-radius: 60px;
  webkit-border-radius: 60px;
  border-style: solid;
}
.fbwClass table tr:last-child td:first-child 
{
  -moz-border-radius-bottomleft:50px;
  -webkit-border-bottom-left-radius:50px;
  border-bottom-left-radius:50px;
  padding-left: 4px;
}
.fbwClass table tr:last-child td:last-child
{
  -moz-border-radius-bottomright:50px;
  -webkit-border-bottom-right-radius:50px;
  border-bottom-right-radius:50px;
}
.fbwClass table tr:first-child td:first-child 
{
  -moz-border-radius-topleft:50px;
  -webkit-border-top-left-radius:50px;
  border-top-left-radius:50px;
}
.fbwClass table tr:first-child td:last-child
{
  -moz-border-radius-topright:50px;
  -webkit-border-top-right-radius:50px;
  border-top-right-radius:50px;
}

.timeClass td {
  color: #FFFFFF;
}
.dateClass td {
  color: #FFFFFF;
}
