.testClass table td {
  font-family: arial;
  font-weight: bolder;
  color: #330066;
  font-size: 11pt;
  vertical-align: center;
}
.testClass table td {
  border-collapse: collapse;

}
.testClass table td {
  border: 1px solid black;
}
.testClass table tr:first-child th,
table tr:first-child td {
  border-top: 0;
}
.testClass table tr:last-child td {
  border-bottom: 0;
}
.testClass table tr td:first-child,
table tr th:first-child {
  border-left: 0;
}
.testClass table tr td:last-child,
table tr th:last-child {
  border-right: 0;
}
.testClass table tr td {
  border-right: 0;
  border-left: 0;
}
